---
import Layout from "../../layouts/LayoutProc.astro"
import Hero from "../../components/procuracy/Home/Hero.astro";
import Missions from "../../components/procuracy/Home/Missions/Missions.astro";
import OurWork from "../../components/procuracy/Home/OurWork.astro";
---

<Layout title="Prosecutor | Home page">
    <section>
        <Hero />
    </section>
    <section>
        <Missions />
    </section>
    <section>
        <OurWork />
    </section>
</Layout>

