---
import Layout from "../../layouts/LayoutProc.astro";
import MissionsPage from "../../components/procuracy/Missions/MissionsPage.astro";
import MissionsPageStructure from "../../components/procuracy/Missions/MissionsPageStructure.astro";
---

<Layout title="Prosecutor | Missions">
    <section>
        <MissionsPage />
    </section>
    <section>
        <MissionsPageStructure />
    </section>
</Layout>
