---
---

<div class="hero-title">
    <h1>
        <span style="font-size: 25px; font-weight: 300;">the</span>
        <br />
        <span style="font-size: 45px; font-weight: 500;"
            >state supreme court</span
        >
        <br />
        <span style="font-size: 35px; font-weight: 300;">of</span>
        <br />
        <span style="font-size: 50px; font-weight: 500;">Winslow</span>
    </h1>
</div>

<style lang="scss">
    .hero-title {
        width: 500px;
        margin: 0 auto;
        cursor: default;
        background: rgba(253, 251, 251, 0.5);

        h1 {
            font-variant: small-caps;
            line-height: 0.9;
            font-family: "Source Serif Pro", serif;
            padding: 55px 50px;
            text-align: center;
            color: #091d32;
        }
    }
</style>
