---
---

<div class="value-container">
    <div class="value-img">
        <img src="/court/femida.svg" alt="" />
    </div>
    <div class="value-info">
        <h2>Наши ценности</h2>
        <p>
            Солидарность и Честность — вот наши главные качества, мы работаем не
            ради личной выгоды мы работаем на благо общества чтобы защищать наш
            родной дом от нарушения конституции и закона. <br /> Мы дали слово народу
            оберегать их личные права. <br /> Мы дали слово защищать не менее священную
            книгу чем Библия, Конституцию Соединённых штатов! Во время судебного
            разбирательства независимо от вашего материального и финансово положения
            все люди равны. <br /> Мы ценим дисциплинированность и аккуратность в
            нашем деле эти две характеристики являются основой!
            <br /> Все судьи знают каждую строку и каждый параграф Конституции как
            свои пять пальцев, как говорится знают “Букву закона”.
        </p>
    </div>
</div>

<style lang="scss" is:global>
    .value-container {
        background: #f6f6f6;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 70px;

        h2 {
            margin: 10px 0;
            text-align: start;
        }
    }

    .value-img {
        img {
            width: 190px;
            height: 220px;
        }
    }
</style>
