---
import Layout from "../layouts/Layout.astro";

const card = [
    {
        id: "0",
        title: "Государственная прокуратура",
        background: "prosecutor.jpeg",
        link: "/procuracy",
    },
    {
        id: "1",
        title: "Судебная система",
        background: "jud.jpeg",
        link: "#",
    },
    {
        id: "2",
        title: "Адвокатура штата",
        background: "comey.jpeg",
        link: "#",
    },
    {
        id: "3",
        title: "Ассамблея",
        background: "assebly.jpeg",
        link: "#",
    },
];
---

<Layout title="Government">
    <div class="content-container">
        {
            card.map((item) => (
                <a class="card-content" href={item.link} data-idx={item.id}>
                    <div class="card-content-name">
                        <img src={item.background} alt="" />
                        <p>{item.title}</p>
                    </div>
                </a>
            ))
        }
    </div>
</Layout>

<style lang="scss">
    .content-container {
        display: grid;
        grid-template-columns: repeat(2, 500px);
        grid-template-rows: repeat(2, 270px);
        justify-content: center;
    }

    .card-content {
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 450px;
        height: 250px;
        transition: ease 0.2s;
        box-shadow: 0 20px 200px 10px rgba(255, 0, 0, 0.4);
        filter: grayscale(5);
        cursor: pointer;

        img {
            position: absolute;
            width: 450px;
            height: 250px;
        }

        &-name {
            position: relative;
            display: flex;
            align-items: flex-end;
            height: 100%;

            p {
                padding: 5px 10px;
                font-size: 21px;
                font-weight: 300;
                background: rgba(0, 0, 0, 0.5);
                z-index: 10;
            }
        }

        &:hover {
            filter: none;
            transition: ease 0.2s;
        }
    }
</style>
