---
---

<div class="container-footer">
    <span>
        winslow  © 2023
    </span>
</div>

<style is:global>
    .container-footer {
        margin-top: 50px;
        font-size: 15px;
        font-weight: 300;
        text-align: center;
}
</style>