---
---

<div class="container-header">
    <h1>San-Andreas <br> Winslow</br> Government</h1>
</div>

<style lang="scss">
    .container-header {
        h1 {
            padding: 20px;
            font-size: 23px;
            font-weight: 300;
            text-align: center;
        }
    }
</style>