---
---

<div class="header">
    <div class="container-header">
        <div class="header-title">
            <a href="/"><img src="/court/logo2.png" alt="" /></a>
        </div>
        <a href="/court" class="header-logo">
            <img src="/court/logo.svg" alt="logo" />
        </a>
        <div class="header-list">
            <nav class="header-list_link">
                <ul>
                    <li><a href="/court">Главная</a></li>
                    <li><a href="/court/structure">Структура</a></li>
                    <li><a href="">Главный судья</a></li>
                    <li><a href="">Работа в суде</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<style lang="scss">
    .header {
        background: #f6f6f6;
    }

    .container-header {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        grid-template-rows: repeat(1, 75px);
        align-items: center;
        margin: 0 50px;
    }

    .header-title {
        img {
            margin-top: 13px;
            width: 100px;
            height: 70px;
        }
    }

    .header-logo {
        margin: 0 auto;
        cursor: pointer;

        img {
            margin-top: 35px;
            height: 100px;
            width: 100px;
            transition: 0.1s all;

            &:hover {
                margin-top: 65px;
                width: 130px;
                height: 130px;
                transition: 0.1s all;
            }
        }
    }

    .header-list_link {
        ul {
            display: flex;
            justify-content: flex-end;

            li {
                font-size: 15px;
                color: #4d3c19;
                cursor: pointer;

                &:not(:last-child) {
                    margin-right: 13px;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
</style>
