---
import HeroSwiper from "../../components/court/Home/Hero-Swiper.astro";
import Navigation from "../../components/court/Home/Navigation.astro";
import LayoutCourt from "../../layouts/Layout-court.astro";
---

<LayoutCourt title="Court">
    <section>
        <HeroSwiper />
    </section>
    <section>
        <Navigation/>
    </section>
</LayoutCourt>

<style lang="scss">
    .hero-container {
        height: 700px;
    }
</style>
